.cards{
    padding: 2%;
    background-color: rgb(251, 251, 251);
}
.dashboard-section1{
    background: 
    linear-gradient(to right,  rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.92)), 
    url('../../assets/home-page-pic.jpg');
    padding: 12% 0;
    background-size: cover;
    background-attachment: fixed;
}
.dashboard-section1 .inside{
    animation: fade_in 1s linear;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    visibility: hidden;
}
@keyframes fade_in {
  0%{
    transform: translateY(50px);
    visibility: visible;
  }
  25%{
    transform: translateY(35px);
    visibility: visible;
  }
  50%{
    transform: translateY(20px);
    visibility: visible;
  }
  75%{
    transform: translateY(10px);
    visibility: visible;
  }
  100%{
    transform: translateY(0);
    visibility: visible;
  }
}
.dashboard-section1 .inside h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.dashboard-section1 .inside h3{
    color: white;
    text-align: center;
    font-weight: 700;
    margin: 2% 0;
}
@media screen and (max-width:900px) {
  .dashboard-section1{
    background-attachment: scroll;
  }
  .dashboard-section1 .inside h1{
    font-size: 35px;
  }
  .dashboard-section1 .inside h3{
    font-size: 18px;
  }
}