*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Navbar{
    border-bottom: solid 1.5px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: +2;
    padding: 1% 2%;
}
.Navbar .logo{
    height: fit-content;
}
.Navbar .logo a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-weight: 900;
}

.Navbar .dropdown_menu{
    cursor: pointer;
    display: none;
    margin-right: 2%;
}
.Navbar .dropdown_menu i{
    font-size: 30px;
}
.Navbar .links ul{
    margin: auto 0;
}
.Navbar .links ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}
.Navbar .links ul li a{
    text-decoration: none;
    color: black;
    transition: all .3s;
}
.Navbar .links ul li a:hover{
    color: rgb(100, 195, 100);
}
.Navbar .links ul .account a{
    padding: 8px 20px;
    color: white;
    background-color: black;
    transition: all .3s;
    border: none;
    border-radius: 6px;
    text-decoration: none;
}
.Navbar .links ul .account a:hover{
    background-color: rgb(100, 195, 100);
    color: white;
}
.Navbar .links ul .account button{
    padding: 6px 10px;
    color: white;
    background-color: black;
    transition: all .3s;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    margin-left: 10px;
}
.Navbar .links ul .account button:hover{
    background-color: rgb(100, 195, 100);
}
.dark_mode_toggle{
  cursor: pointer;
}
.dark_mode_toggle i{
  font-size: 20px;
  display: inline-block;
  height: fit-content;
  transform: translateY(2px);
}
.dark_mode_toggle span{
  font-size: 16px;
  margin-left: 5px;
  font-weight: 600;
  display: inline-block;
}
@media screen and (max-width:800px) {
    .Navbar .dropdown_menu{
        display: block;
    }
    .Navbar .links{
        display: none;
        position: absolute;
        border: solid 1.5px;
        top: 80%;
        background-color: white;
        right: 5%;
        width: 90%;
        z-index: +6;
        animation: dropdown 1s linear;
        animation-fill-mode: forwards;
        animation-duration: 0.3s;
        padding: 2%;
  }
  @keyframes dropdown {
    0%{
      transform: translateY(-60px);
    }
    25%{
      transform: translateY(-40px);
    }
    50%{
      transform: translateY(-20px)
    }
    75%{
      transform: translateY(-10px);
    }
    100%{
      transform:translateY(0px)
    }
    }
    .Navbar .links ul{
        display: flex;
        flex-direction: column;
      }
      .Navbar .links ul li{
        margin: 2% 0;
      }
      .Navbar .links li a{
        display: block;
      }
      .Navbar .links ul .account button{
        margin: 0;
      }
      .Navbar .links ul .account a{
        width: -moz-fit-content;
        width: fit-content;
      }
}