.footer{
    padding: 2% 4%;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px lightgray;
    /* margin-top: 3%; */
}
.footer .section1 h5{
    font-size: 15px;
    opacity: 0.9;
    font-weight: 600;
}
.footer .links a{
   margin-left: 15px;
   color: black;
   font-weight: 600;
   font-size: 19px;
   transition: all .3s;
}
.footer .links a:hover{
  color: rgb(100, 195, 100);
}
.footer_dark{
  background-color: black;
  color: white;
}
.footer_dark .links a{
  color: white;
}
@media screen and (max-width:800px) {
  .footer{
    flex-direction: column-reverse;
  }
  .footer .links{
    text-align: center;
  }
  .footer .links a{
    margin: 0 3%;
  }
  .footer .section1 h5{
    font-size: 12px;
    text-align: center;
  }
}